.home {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.home_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.home_main {
  display: flex;
  align-items: start;
  justify-content: center;
}

.home_data {
  width: 90%;
  display: flex;
  flex: 3.5;
}

.container_cards {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.card_data {
  cursor: pointer;
}

.card_data img{
  width: 200px;
  height: 280px;
}

.card_data :hover{
  transition: all .4s ease-in-out;
  transform: scale(1.1);
}

.not_found {
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  margin-top: 1.5em;
}

@keyframes loadingAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media(max-width: 1200px){
  .card_data img{
    width: 180px;
    height: 260px;
  }
}

@media(max-width: 950px){
  .home_data {
    width: 100%;
    display: flex;
  }
}
