.search {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 2em;
}

.search input {
  width: 400px;
  height: 35px;
  padding: 8px;
  font-size: 1.1em;
  border-radius: 5px;
  border: none;
  outline: none;
}

@media (max-width: 600px) {
  .search {
    width: 100%;
    gap: 0.4em;
  }

  .search input {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .search input {
    font-size: 1em;
  }
}
