.nav_bar {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  margin-bottom: 1em;
  position: relative;
  height: 120px;
}

.btn_home {
  font-size: 1.8em;
  display: none;
  cursor: pointer;
  transition: .2s;
}

.btn_home:hover {
  color: rgb(3, 3, 193);
}

.nav_bar h2 {
  cursor: pointer;
  transition: .2s;
}

.nav_bar h2:hover {
  color: rgb(3, 3, 193);
}

.nav_bar img {
  cursor: pointer;
  width: 180px;
  height: 70px;
}

.container_cart {
  cursor: pointer;
  position: relative;
}

.cart {
  font-size: 2.5em;
  transition: .2s;
}

.cart:hover {
  color: rgb(3, 3, 193);
}

.count_itens {
  min-width: 15px;
  min-height: 15px;
  background-color: red;
  border-radius: 50%;
  font-size: 0.7em;
  position: absolute;
  text-align: center;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -8px;
  right: -8px;
}

@media(max-width: 550px){
  .nav_bar {
    padding: 1em;
  }

  .nav_bar h2 {
    display: none;
  }
  
  .btn_home{
    display: block;
  }

  .nav_bar img {
    width: 160px;
    height: 50px;
  }

  .cart {
    font-size: 2em;
  }
}
